<div class="side-bar-header">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%# ログイン中のユーザー名を表示し、ログイン中のユーザー画面（ユーザー編集）へ飛ぶ %>
  </div>
  <div class="make_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <ul class="chat_room">
    <li><a href="#">techroom1</a></li>
    <li><a href="#">techroom2</a></li>
  </ul>
</div>
