<div class="wrapper">
  <div class="side-bar" >
    <%= render "side_bar" %>
  <%# レンダーは分けた先を示す。 %>
  <%# 部分点プレートの読み込みのため、ファイル名先頭の_や拡張子は不要。 %>
  </div>

  <div class="chat">
    <%= render "main_chat" %>
  </div>

</div>