.wrapper{
  display: flex;
}

/* サイドバー組 */
.side-bar{
  /* クラス名！レンダーの後と間違わない！ */
  background-color: #253141;
  width: 300px;
  height: 100vh;
  /* 高さはコンテンツに依存してしまうから表示画面内の何%か記載の必要がある */
}
.side-bar-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none; /* 下線を消す */
}

.make_room a{
  display: flex;
  padding: 14px;
  border: 1px solid lightblue; /* 外枠の作成 */
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none; /* 下線を消す */
}

.rooms{
background-color: #2F3E51;
height: calc(100vh - 100px);
padding: 0 20px;
display: flex;
overflow: scroll; /* スクロールを作成 */
}

.chat_room li{
  list-style-type: none; /* マーカーを非表示にする */
}


.chat_room a{
  color: white;
  display: flex;
  padding:20px 0 40px;
  text-decoration: none; /* 下線を消す */
  list-style-type: none; /* マーカーを非表示にする */

}

/* メインチャット組 */
.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.chat-header {
  padding: 0 40px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.room_name {
  font-size: 24px;
  font: #333;
  margin-top: 36px;
}
.chat_end{
  margin-top: 20px;
}
.chat_end a{
  color: darkred;
  border: 1px solid darkred; /* 外枠の作成 */
  text-decoration: none; /* 下線を消す */
  display: flex;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll; /* スクロールを作成 */
}
.message{
  margin: 10px 0 0 0;
}
.upper{
  display: flex;
}
.user_name{
  color: #434a54;
  font-size: 16px;
}
.send_time{
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}
.main_text {
  margin-top: 10px;
}
.message_content{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


  .form {
  padding: 20px 40px;
  background-color: #DDDDDD;
  height: 90px;
  display: flex;
}
.form_input {
  background-color: white;
  display: flex;
  width: 100%;
}
.form_message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form_submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form_image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;/* 非表示 */
}